extends ./../../components/layout

block append scripts
  link(src='/css/page/blog.css')
block content
  .container
    //- - id = id
    .row
        h1 #{title}
        if(id==0)
            include ../../selfproject/effect_of_typing.html
        else if(id==1)
            include ../../selfproject/effect_of_direction_entry.html
        else if(id==2)
            include ../../selfproject/effect_of_scratch_card.html
        else if(id==3)
            include ../../selfproject/2djump.html
        else if(id==4)
            include ../../selfproject/tanchishe.html
        else if(id==5)
            include ../../selfproject/pintu/pintu.html
        else if(id==6)
            include ../../selfproject/slide/index.html
