extends ../components/layout

block append scripts
  //- link(src='/css/page/blog.css')
block content
  .container-fluid.page.home
    .am-g
      nav.am-u-md-4.am-u-lg-3.web-nav
        include nav
      section.am-u-sm-12.am-u-md-8.am-u-lg-9.web-content
        include content

