

<div class="am-panel-group" id="accordion">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
        a 首页
      </h4>
    </div>
    <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in">
      <div class="am-panel-bd">
        a 你好啊
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
        a 栏目一
      </h4>
    </div>
    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        a 你好啊
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
      a 栏目二
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        a 你好啊
      </div>
    </div>
  </div>
</div>



//- <nav class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">

//-   <div class="sidenav-header">
//-     Section 第一个Header
//-     <small>some text</small>
//-   </div>

//-   <ul class="sidenav-menu">
//-     <li>
//-       <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Lorem ipsum</span>
//-         <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-right"></i>
//-         </span>
//-         <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-down"></i>
//-         </span>
//-       </a>

//-       <ul class="sidenav-dropdown" data-sidenav-dropdown>
//-         <li><a href="javascript:;">Dolor sit amet</a></li>
//-         <li><a href="javascript:;">Consectetur adipisicing</a></li>
//-         <li><a href="javascript:;">Elit</a></li>
//-       </ul>
//-     </li>
//-     <li>
//-       <a href="javascript:;" data-sidenav-dropdown-toggle>
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Sed do eiusmod</span>
//-         <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-right"></i>
//-         </span>
//-         <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-down"></i>
//-         </span>
//-       </a>

//-       <ul class="sidenav-dropdown" data-sidenav-dropdown>
//-         <li><a href="javascript:;">Tempor incididunt</a></li>
//-         <li><a href="javascript:;">Labore</a></li>
//-       </ul>
//-     </li>
//-     <li>
//-       <a href="javascript:;" data-sidenav-dropdown-toggle>
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Dolore magna</span>
//-         <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-right"></i>
//-         </span>
//-         <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-down"></i>
//-         </span>
//-       </a>

//-       <ul class="sidenav-dropdown" data-sidenav-dropdown>
//-         <li><a href="javascript:;">Aliqua</a></li>
//-         <li><a href="javascript:;">Exercitation</a></li>
//-         <li><a href="javascript:;">Minim veniam</a></li>
//-       </ul>
//-     </li>
//-     <li>
//-       <a href="javascript:;">
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Nostrud ullamco</span>
//-       </a>
//-     </li>
//-     <li>
//-       <a href="javascript:;">
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Commodo</span>
//-       </a>
//-     </li>
//-   </ul>

//-   <div class="sidenav-header">
//-     Another 第二个 Header
//-   </div>

//-   <ul class="sidenav-menu">
//-     <li>
//-       <a href="javascript:;" data-sidenav-dropdown-toggle>
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Reprehenderit</span>
//-         <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
//-           <i class="am-icon-chevron-right"></i>
//-         </span>
//-         <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
//-           <i class="am-icon-qq"></i>
//-         </span>
//-       </a>

//-       <ul class="sidenav-dropdown" data-sidenav-dropdown>
//-         <li><a href="javascript:;">Voluptate</a></li>
//-         <li><a href="javascript:;">Excepteur</a></li>
//-       </ul>
//-     </li>
//-     <li>
//-       <a href="javascript:;">
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Occaecat</span>
//-       </a>
//-     </li>
//-     <li>
//-       <a href="javascript:;">
//-         <span class="sidenav-link-icon">
//-           <i class="am-icon-qq"></i>
//-         </span>
//-         <span class="sidenav-link-title">Deserunt</span>
//-       </a>
//-     </li>
//-   </ul>
//- </nav>
//- <a href="javascript:;" class="toggle" id="sidenav-toggle">
//-   <i class="am-icon-qq">menu</i>
//- </a>
//- script.
//-   $('[data-sidenav]').sidenav()
