extends ../../components/layout

block append scripts
  link(rel="stylesheet", href='/lib/quilljs/quill.snow.css')
  script(type="text/javascript", src='/lib/quilljs/katex.0.7.1.min.js')
  script(type="text/javascript", src='/lib/quilljs/highlight.min.js')
  script(type="text/javascript", src='/lib/quilljs/quill.js')

block content
  .container-fluid.page.home
    .row
      nav.col-lg-2.col-md-3.col-sm-3.home-nav
        include ../../components/nav
      section.col-lg-10.col-md-9.col-sm-9.home-content
        include content
