extends components/layout

block content
  .page.blog
      nav.web-nav
        #logo
          .advator
            img(src="image/logo.jpg", alt="")
        .nav-tabs
          .tab
            a(href="/home") home
          .tab
            a(href="") work
          .tab
            a(href="") about
          .tab
            a(href="") blog
          .tab
            a(href="") home
        .section.web-content