extends components/layout

block content
  .container.page.blog
    .row
        nav.col-xs-6.col-md-2.web-nav
          include page/blog/nav
        .col-xs-12.col-md-10.web-content
          include page/blog/content

