<%- include('header') %>

    <form class="loginContent" method="post">
        <h1 class="title">欢迎来到豆瓣</h1>
        <input type="text" id="username" placeholder="用户名">
        <input type="password" id="pwd" placeholder="密码">
        <input id="login" type="submit" value="登陆">
        <div class="othersignin">
            <div class="regeister">注册</div>
            <div class="forgertpwd">忘记密码</div>
        </div>
    </form>

    <script type="text/javascript">

        var login = document.getElementById('login')
        var params = {
            name: 'ifredom',
            password:'111111'
        }
        login.addEventListener('click', function (e) {
            axios({
                method: 'post',
                url: '127.0.0.1:3000/login',
                timeout: 10000,
                data: params,
                headers: {
                    'Content-Type': 'text/html; charset=UTF-8'
                }
            }).then(response => {
                console.log(response.data)
            }, err => {
                console.log(err)
            }).catch(thrown => {
                console.log(thrown)
            })
        }, false)
    </script>
    <%- include('footer') %>