<%- include('components/layout-start') %>

    <form class="loginContent" method="post" action="/login">
        <h1 class="title">
            <%- title %>
        </h1>
        <input type="text" id="username" name="name" placeholder="用户名" value="ifredom">
        <input type="password" id="pwd" name="password" placeholder="密码" value="111111">
        <input id="login" type="submit" value="登陆">
        <div class="othersignin clearfix">
            <a class="regeister" href="/register">注册</a>
            <a class="forgert">忘记密码</a>
        </div>
    </form>

    <% include('front/themes/alert.html') %>
        <script type="text/javascript">
            // login.addEventListener('click', function (e) {
            //     var name = document.querySelector('#username').value
            //     var pwd = document.querySelector('#pwd').value
            //     var params = {
            //         name: name,
            //         password: pwd
            //     }
            //     $.ajax({
            //         url: '/login',
            //         type: 'POST',
            //         data: params,
            //         success: function (data, status) {
            //             if (status == 'success') {
            //                 alert("good")
            //             }
            //         },
            //         error: function (data, status) {
            //             if (status == "error") {
            //                 console.log("login")
            //             }
            //         }
            //     });
            // }, false)
        </script>

        <%- include('components/layout-end') %>