/* custom */

body,
html {
  width: 100%;
  height: 100%;
}
a:active,
a:hover {
    outline-width: 0;
    text-decoration: none;
}
.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
/* login page */

.loginContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  padding-top: 40px;
  width: 360px;
  text-align: center
}

.loginContent .title {
  font-size: 36px;
  color: #41c059;
}

.loginContent input {
  padding: 8px;
  width: 100%;
  height: 40px;
  border: 1px solid #bebebe;
}

.loginContent #login {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #41be56;
  border-radius: 8px;
}

.loginContent #username {
  margin-top: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.loginContent #pwd {
  border-bottom-left-radius: 8px;
  border-top-width: 0;
  border-bottom-right-radius: 8px;
}

.loginContent .othersignin {
  margin-top: 20px;
}

.loginContent .regeister {
  display: inline-block;
  width: 50%;
}

.loginContent .forgert {
  display: inline-block;
  width: 50%;
}


/* blog page */

.page.blog {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  background-repeat: repeat;
  background-color: #e8dfd6;
  background-size: center 0;
  background-image: url("/image/html_bg_paper.jpg");
}

.blog .web-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 600px;
  padding-left: 0;
  padding-right: 0;
  background-color: #3f3f3f;
}

.blog .web-content {
  margin-left: 16.67%;
  height: 100%;
}

.blog #logo {
  position: relative;
  height: 200px;
  background: url("/image/logo_bg.jpg") no-repeat 0 0;
  background-size: 100%;
}

.blog #logo .advator {
  position: absolute;
  right: 5px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.blog #logo .advator img {
  width: 100%;
  height: 100%;
}

.blog .nav-tabs {
  padding-left: 40px;
  font-size: 1.6em;
  text-align: right;
}
/*  blog-page about-me */
.blog .web-nav .about-me{
  position: absolute;
  left: 10px;
  bottom: 0;
  padding-left: 0;
  color: #fff;
  font-size: 14px;
  list-style: none;
}
.blog .web-nav .about-me li{
  margin-bottom:10px;
}
.blog .web-nav .about-me .title{
  font-size: 16px;
}
.blog .web-nav .about-me .title img{
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
}
.blog .tab {
  display: block;
  margin-top:8px;
  margin-bottom:8px;
}

.blog .web-content .infos {
  height: 100%;
}

.blog .web-content .article-list {
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 5px 0 5px -5px black, -5px 0 5px -5px black;
}

.blog .article-img img {
  width: 100%;
}

.blog .web-content .article-item {
  margin-top: 15px;
  max-height: 200px;
  overflow: hidden;
}
.blog .web-content .article-item .article-img{
  height: 200px;
  overflow: hidden;
}
.blog .web-content .article-describe {
  height: 200px;
  /* text-overflow:ellipsis; */
}
.blog .web-content .article-describe time{
  margin-left: 15px;
  font-style: normal;
  font-size: 12px;
}
.blog .web-content .article-describe p{
  height: 120px;
  text-overflow:ellipsis;
}
.blog .web-content .book {
  margin: 0 auto;
  padding: 0 15px;
  height: 200px;
}
.blog .web-content .book img {
  width: 100%;
}
@media (min-width: 768px){
  .blog .web-content  {
    margin-left: 25%;
  }
}
@media (min-width: 992px){
  .blog .web-content  {
    margin-left: 16.6%;
  }
}
@media (max-width: 414px){
  .blog .web-content  {
    margin-left: 25%;
  }
}

/* blog-content-card */
.blog .article{
  overflow: hidden
}
.blog .material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-top: 1.5em;
    margin-bottom: 10.6em;
}
.blog .material-card.Red h2 {
    background-color: #f44336;
}
.blog .material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
}
.blog .material-card h2 {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.blog .material-card h2:before,
.blog .material-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.blog .material-card h2:after {
    top: auto;
    bottom: 0;
}
.blog .material-card.Red.mc-active h2:before {
  border-top-color: transparent;
  border-right-color: #f44336;
  border-bottom-color: #f44336;
  border-left-color: transparent;
}
.blog .material-card.Red h2:before {
    border-top-color: transparent;
    border-right-color: #b71c1c;
    border-bottom-color: #b71c1c;
    border-left-color: transparent;
}
.blog .material-card.Red.mc-active h2:after {
    border-top-color: #b71c1c;
    border-right-color: #b71c1c;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.blog .material-card.Red h2:after {
    border-top-color: #f44336;
    border-right-color: #f44336;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.blog .material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: .8em;
}
.blog .material-card .mc-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.blog .material-card .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.blog .material-card .mc-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}
.blog .material-card .mc-btn-action {
    position: absolute;
    right: 16px;
    top: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.blog .material-card.Red .mc-btn-action {
    background-color: #f44336;
}
.blog .material-card.Red .mc-btn-action:hover {
    background-color: #b71c1c;
}
.blog .material-card .mc-footer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.blog .material-card.Red .mc-footer h4 {
    color: #b71c1c;
}
.blog .material-card .mc-footer h4 {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    -ms-transition: all 1.4s;
    -o-transition: all 1.4s;
    transition: all 1.4s;
}
.blog .material-card.Red .mc-footer a {
    background-color: #b71c1c;
}
.blog .material-card .mc-footer a:nth-child(2) {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.blog .material-card .mc-footer a {
    display: block;
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    line-height: 52px;
    text-decoration: none;
    top: 200px;
}
