/* custom */

body,
html {
  height: 100%;
  overflow: hidden;
}

.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/* login page */

.loginContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  padding-top: 40px;
  width: 360px;
  text-align: center
}

.loginContent .title {
  font-size: 36px;
  color: #41c059;
}

.loginContent input {
  padding: 8px;
  width: 100%;
  height: 40px;
  border: 1px solid #bebebe;
}

.loginContent #login {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #41be56;
  border-radius: 8px;
}

.loginContent #username {
  margin-top: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.loginContent #pwd {
  border-bottom-left-radius: 8px;
  border-top-width: 0;
  border-bottom-right-radius: 8px;
}

.loginContent .othersignin {
  margin-top: 20px;
}

.loginContent .regeister {
  display: inline-block;
  float: left;
  width: 50%;
}

.loginContent .forgert {
  display: inline-block;
  float: left;
  width: 50%;
}


/* blog page */

.page.blog {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/image/html_bg_paper.jpg") #e8dfd6;
}

.blog .row.wrapper {
  height: 100%;
}

.blog .web-nav {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.blog .web-content {
  height: 100%;
}

.blog #logo {
  position: relative;
  height: 200px;
  background: url("/image/logo_bg.jpg") no-repeat 0 0;
  background-size: 100%;
}

.blog #logo .advator {
  position: absolute;
  right: 5px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.blog #logo .advator img {
  width: 100%;
  height: 100%;
}

.blog .nav-tabs {
  float: right;
  padding-right: 40px;
  font-size: 1.6em;
}

.blog .tab {
  height: 35px;
  line-height: 35px;
  font-family: 'bgBold', arial, helvetica, sans-serif;
}

.blog .web-content .infos {
  height: 100%;
}

.blog .web-content .article-list {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 0 5px -5px black, -5px 0 5px -5px black;
}

.blog .article-img img {
  width: 100%;
}

.blog .web-content .article-item {
  margin-top: 15px;
  max-height: 200px;
  overflow: hidden
}

.blog .web-content .book {
  margin: 0 auto;
  padding: 0 15px;
  height: 200px;
}

.blog .web-content .book img {
  width: 100%;
}