<nav class="navbar navbar-inverse">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">文章分类</h3>
    </div>
    <div class="panel-body">
      a(href="/admin") 文章列表
    </div>
    <div class="panel-body">
      a(href="/admin/article/add") 发布新文章
    </div>
  </div>
</nav>