#article-detail.row.wrapper
  figure
    figcaption
      h2 国士无双
        span 时间:
          em 骁骑校
    div.figureimg
      img(src="/image/blogs/article/1.jpg", alt="")
    p 民国八年冬（1919年元月），北京。<br>天阴沉沉的，前门火车站外密密匝匝的停满了人力车和马车，车夫们抄手缩脖，坐在洋车水簸箕的脚垫上东拉西扯着。马路边残雪犹在，远处的正阳门箭楼巍峨耸立，呈现着旧帝都的气派与凋敝。从奉天开来的火车进站了。巨大的火车头下面，钢制曲轴和连杆有节奏地摆动着，带动红色车轮缓缓前行，大团的蒸汽散发出来，月台上白雾朦朦。三等车厢的门打开，戴金箍帽的列车员拿着小旗子先跳下来，然后是扛着大包袱小行李穿着臃肿冬装的关外旅客。 陈子锟扛着他的铺盖卷跳下了火车，没急着往出站口走，先走到火车头旁边，认真端详着这个粗犷邪恶的钢铁庞然大物。“妈了个巴子的，这大铁疙瘩怎么这么大劲？”他摘下狗皮帽子挠了挠乱蓬蓬的头发，发出由衷的惊叹。一个五六岁的小男孩兴冲冲的跑了过来，站在火车头旁用吴侬软语大呼小叫，绒线虎头帽下一张粉嫩的小脸红扑扑的，嘴里喊着：“阿姐快来看，好白相啊！”他只顾着回头叫嚷，没注意已经到了月台边沿，突然脚下一空，胳膊已经被一双有力的大手牢牢抓住。“留神！”眼看小男孩就要掉下月台，陈子锟一把拽住了他。小男孩的姐姐匆匆追来。这是个身材娇小的圆脸少女，十六七岁年纪，阴丹士林蓝布棉袍，脖子上围着一条长长的雪白毛线围巾，遮住了嘴巴和鼻子，只露出一双亮晶晶的眼睛，弯弯的像是含着笑。长白山林海雪原中哪见过这种纤细灵巧的少女，陈子锟的目光立刻凝固了。“谢谢。”少女声音又软又糯，余音袅袅。
form.comment
  .comment-detail
    span.title 您的留言：
    textarea(name="", cols="50", rows="5" class="usercomment")
  .comment-username
    span.title 爱称:
    input(type="text" class="username")
  .comment-email
    span.title 邮箱：
    input(type="email" class="useremail")
  .comment-submit
    input(type="submit" accesskey="s" name="post" id="comment-submit" value="发表")