#articles.row.wrapper
  figure.effect-lily
    img(src="/image/blogs/article/1.jpg", alt="")
    figcaption
      h2 国士无双
        span 时间:
          em 骁骑校
      p 《国士无双》，又一个光辉灿烂的大时代， 一个英雄与枭雄，狗贼与奸贼的疯狂世界。 那是一段遗忘的历史，也是一段凝结的追忆。 我很期待，因为我没有生活在那个年代。 --------血酬
      a(href="/blog/article") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/2.jpg", alt="")
    figcaption
      h2 飞剑问道
        span 时间:
          em 我吃西红柿
      p 在这个世界，有狐仙、河神、水怪、大妖，也有求长生的修行者。<br/>修行者们，开法眼，可看妖魔鬼怪。<br/>炼一口飞剑，可千里杀敌。<br/>千里眼、顺风耳，更可探查四方。<br/>……<br/>秦府二公子‘秦云’，便是一位修行者……
      a(href="#") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/3.jpg", alt="")
    figcaption
      h2 大道朝天
        span 时间:
          em 猫腻
      p 千里杀一人，十步不愿行。
      a(href="#") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/4.jpg", alt="")
    figcaption
      h2 国士无双
        span 时间:
          em 骁骑校
      p 《国士无双》，又一个光辉灿烂的大时代， 一个英雄与枭雄，狗贼与奸贼的疯狂世界。 那是一段遗忘的历史，也是一段凝结的追忆。 我很期待，因为我没有生活在那个年代。 --------血酬
      a(href="#") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/5.jpg", alt="")
    figcaption
      h2 国士无双
        span 时间:
          em 骁骑校
      p 《国士无双》，又一个光辉灿烂的大时代， 一个英雄与枭雄，狗贼与奸贼的疯狂世界。 那是一段遗忘的历史，也是一段凝结的追忆。 我很期待，因为我没有生活在那个年代。 --------血酬
      a(href="#") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/6.jpg", alt="")
    figcaption
      h2 飞剑问道
        span 时间:
          em 我吃西红柿
      p 在这个世界，有狐仙、河神、水怪、大妖，也有求长生的修行者。<br/>修行者们，开法眼，可看妖魔鬼怪。<br/>炼一口飞剑，可千里杀敌。<br/>千里眼、顺风耳，更可探查四方。<br/>……<br/>秦府二公子‘秦云’，便是一位修行者……
      a(href="#") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/7.jpg", alt="")
    figcaption
      h2 大道朝天
        span 时间:
          em 猫腻
      p 千里杀一人，十步不愿行。
      a(href="#") 查看更多
  figure.effect-lily
    img(src="/image/blogs/article/8.jpg", alt="")
    figcaption
      h2 国士无双
        span 时间:
          em 骁骑校
      p 《国士无双》，又一个光辉灿烂的大时代， 一个英雄与枭雄，狗贼与奸贼的疯狂世界。 那是一段遗忘的历史，也是一段凝结的追忆。 我很期待，因为我没有生活在那个年代。 --------血酬
      a(href="#") 查看更多
