<nav class="navbar navbar-inverse bg-white">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">文章管理</h3>
    </div>
    <div class="panel-body">
      a(href="/article") 文章列表
    </div>
    <div class="panel-body">
      a(href="/article/add") 发布新文章
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">电影管理</h3>
    </div>
    <div class="panel-body">
      a(href="/movie") 观影
    </div>
    <div class="panel-body">
      a(href="/movie/list") 电影列表
    </div>
    <div class="panel-body">
      a(href="/movie/add") 添加新电影
    </div>
  </div>
</nav>