
nav.navbar.navbar-default
    ul.nav.nav-tabs
        li(role="presentation" class="active")
            a(href="#") Javascript
        li(role="presentation")
            a(href="#") Node
        li(role="presentation")
            a(href="#") Python