.row.wrapper
  .col-xs-9.col-md-10.article-list
    .col-md-4.col-sm-6.col-xs-12.article
      article.material-card.Red
        h2
          span 2017网易前端面试题
          time 2017-06-34
          strong
            i.iconfont.icon-xing5
            span 今天的作业是做QQ音乐的整站静态图片。这个作业时间是一天半，今儿是那个半天。成品就别想了，连一半还没做到。所以今天没有作业图。等明天做出成 ...
            p.iconfont.iconfont-icon04 23
            p.iconfont.iconfont-xingxuanzhong 856
        .mc-content
          .img-container
            img(class="img-responsive", src="/image/timg.jpg", alt="")
          .mc-description 	http://www.jq22.com/yanshi6699
        a(class="mc-btn-action", href="")
          i(class="iconfont icon-icon04")
        .mc-footer
          h4 Social
          a(class="iconfont iconfont-icon04", href="")
          a(class="iconfont iconfont-xingxuanzhong", href="")
          a(class="iconfont iconfont-xing5", href="")
          a(class="iconfont iconfont-cha", href="")
    .col-md-4.col-sm-6.col-xs-12.article
      article.material-card.Red
        h2
          span 北京，想说爱你不容易
          strong
            i.iconfont.icon-xingxingtuijie
            span 在北京街头，我是那么的快乐,就像一个诗人，漫步在自己梦寐以求的地方。天空突然下起雨，瞬间变成落汤鸡。。
        .mc-content
          .img-container
            img(class="img-responsive", src="/image/timg.jpg", alt="")
          .mc-description 	He has been known for his versatile portrayals of antiheroes and vulnerable characters.[3] He won the Academy Award for Kramer vs. Kramer in 1979 ...
        a(class="mc-btn-action", href="")
          i(class="iconfont icon-icon04")
        .mc-footer
          h4 Social
          a(class="iconfont iconfont-icon04", href="")
          a(class="iconfont iconfont-xingxuanzhong", href="")
          a(class="iconfont iconfont-xing5", href="")
          a(class="iconfont iconfont-cha", href="")
    .col-md-4.col-sm-6.col-xs-12.article
      article.material-card.Red
        h2
          span 做网站经常会用到的一些js效果
          strong
            i.iconfont.icon-xingxingtuijie
            span http://www.jq22.com/yanshi6699
        .mc-content
          .img-container
            img(class="img-responsive", src="/image/timg.jpg", alt="")
          .mc-description 	He has been known for his versatile portrayals of antiheroes and vulnerable characters.[3] He won the Academy Award for Kramer vs. Kramer in 1979 ...
        a(class="mc-btn-action", href="")
          i(class="iconfont icon-icon04")
        .mc-footer
          h4 Social
          a(class="iconfont iconfont-icon04", href="")
          a(class="iconfont iconfont-xingxuanzhong", href="")
          a(class="iconfont iconfont-xing5", href="")
          a(class="iconfont iconfont-cha", href="")
    .col-md-4.col-sm-6.col-xs-12.article
      article.material-card.Red
        h2
          span 做网站经常会用到的一些js效果
          strong
            i.iconfont.icon-xingxingtuijie
            span http://www.jq22.com/yanshi6699
        .mc-content
          .img-container
            img(class="img-responsive", src="/image/timg.jpg", alt="")
          .mc-description 	He has been known for his versatile portrayals of antiheroes and vulnerable characters.[3] He won the Academy Award for Kramer vs. Kramer in 1979 ...
        a(class="mc-btn-action", href="")
          i(class="iconfont icon-icon04")
        .mc-footer
          h4 Social
          a(class="iconfont iconfont-icon04", href="")
          a(class="iconfont iconfont-xingxuanzhong", href="")
          a(class="iconfont iconfont-xing5", href="")
          a(class="iconfont iconfont-cha", href="")
  .col-xs-3.col-md-2.infos
     section.books
      .row.book
        img(src="/image/books/li.jpg", alt="")
      .row.book
        img(src="/image/books/fengshang.jpg", alt="")
      .row.book
        img(src="/image/books/wang.jpg", alt="")
