.row.wrapper
  .col-xs-6.col-md-10.article-list
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        h3 北京，想说爱你不容易
          time 2017-06-27
        p 我承认北京是一座充满机遇的城市，在这里聚集了国内最好的人才和资源。它的好，也许只有当地人和外来游客才能感受的了。对于和我一样，异乡漂泊于此的人来说，这里只有寸土寸金的房价和高昂的物价。在这里，谈不上生活，能有的仅仅是维持生存。诗和远方，那个年轻时说出来都会嘴角上扬的自信，也被这现实敲击的满地破碎。拿着五六千的工资，在这皇城脚下苟且般的生存着。想在这里买房，根本没有想过，也不敢想。想买车，车牌要摇号，不知要等多少年，幸运女神才能眷顾到自己。衣食住行，没有一个能让自己不叹息的。都说在这里资源多、机会多。可对于那些他乡漂泊于此的人来说，资源再多，和你有关系的能有多少，自己能真正利用的又有多少。说机会多，可现实往往是你根本抓不住。机会太多，反而容易失去方向，陷入迷茫。上面的几段话，我只是陈述一个北漂青年的无奈。有人说，只要努力奋斗，最终一定会得到自己想要的。这句话，对曾经年少的我，也许会深信不疑，激情奔放。现在，也人间世事多少也都懂了些，知道了这“努力”也只是成功的必要而不充分条件。如果获得成功，比的是谁更辛苦、更努力。那每天起早贪黑的清洁工、挥汗如雨的建筑工人岂不是最先获得成功？那些一天24小时连轴转的上班族不应该最先获得成功？可现实却是干着最繁重的工作，拿着微薄的工资。一天天、一年年，在这里苦苦挣扎，梦想着有朝一日能在北京拥有一个真正属于自己的家。
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        h3 《寻梦环游记》评分9.4口碑炸裂
          time 2017-01-11
        p 2006年皮克斯被迪士尼收之麾下时，公众就曾担忧属于皮克斯本身的光芒会不会就此淫灭。2010年电影《玩具总动员3》创下全球票房10.6亿美元，中国票房1.17亿的成绩之后，皮克斯的黄金时代走向终结，接踵而至的是续作堆积、黯淡而漫长的低谷期。曾经凭一己之力能与迪士尼动画王国比肩而立的皮克斯动画工作室在中国电影市场开始走向面目模糊——但现在，命运似乎又发生反转。感恩节的前一天（11月22日），迪士尼皮克斯的新作动画电影《寻梦环游记》（《Coco》）在北美电影市场正式开画，上映首日票房达到1324万美元，抢了“DC英雄”《正义联盟》（上映9天）的风头，登录当日票房榜首，烂番茄新鲜度高达94%，IMDb9.1分。仅相隔两天，《寻梦环游记》在中国上映，截至目前，票房达到5757万，票房占比29.7%，上座率达到26.8%，豆瓣评分达到9.4分，成为皮克斯在中国电影市场评分最高的电影。
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        h3 方兴东与阿里之争
          time 2017-01-11
        p 11月22日，上海瀛东律师事务所高级合伙人惠翔律师在微博公开发文，透露在天猫双11等大型活动前，阿里巴巴遭遇近五百个账号在同一时间段，持续发出相关网帖超过9700多篇。其中以所谓“二选一”和“垄断”为名恶意攻击阿里巴巴的达4600余篇。矛头直指博客教父方兴东和他的互联网实验室此前发布的专题报告《网络平台“二选一”行为对平台经济发展的影响与对策研究》随后方兴东在朋友圈中多次回应有关事宜，并将其相关报告在多个平台进行散发。方兴东的表态十分坚决：“阿里律师所谓异动舆情的其他各种演绎版本与互联网实验室无关。”并称对于各种不恰当的歪曲和诋毁行为，也将保留法律追诉权利。
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        h3 《寻梦环游记》评分9.4口碑炸裂
          time 2017-01-11
        p 2006年皮克斯被迪士尼收之麾下时，公众就曾担忧属于皮克斯本身的光芒会不会就此淫灭。2010年电影《玩具总动员3》创下全球票房10.6亿美元，中国票房1.17亿的成绩之后，皮克斯的黄金时代走向终结，接踵而至的是续作堆积、黯淡而漫长的低谷期。曾经凭一己之力能与迪士尼动画王国比肩而立的皮克斯动画工作室在中国电影市场开始走向面目模糊——但现在，命运似乎又发生反转。感恩节的前一天（11月22日），迪士尼皮克斯的新作动画电影《寻梦环游记》（《Coco》）在北美电影市场正式开画，上映首日票房达到1324万美元，抢了“DC英雄”《正义联盟》（上映9天）的风头，登录当日票房榜首，烂番茄新鲜度高达94%，IMDb9.1分。仅相隔两天，《寻梦环游记》在中国上映，截至目前，票房达到5757万，票房占比29.7%，上座率达到26.8%，豆瓣评分达到9.4分，成为皮克斯在中国电影市场评分最高的电影。
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        h3 《寻梦环游记》评分9.4口碑炸裂
          time 2017-01-11
        p 2006年皮克斯被迪士尼收之麾下时，公众就曾担忧属于皮克斯本身的光芒会不会就此淫灭。2010年电影《玩具总动员3》创下全球票房10.6亿美元，中国票房1.17亿的成绩之后，皮克斯的黄金时代走向终结，接踵而至的是续作堆积、黯淡而漫长的低谷期。曾经凭一己之力能与迪士尼动画王国比肩而立的皮克斯动画工作室在中国电影市场开始走向面目模糊——但现在，命运似乎又发生反转。感恩节的前一天（11月22日），迪士尼皮克斯的新作动画电影《寻梦环游记》（《Coco》）在北美电影市场正式开画，上映首日票房达到1324万美元，抢了“DC英雄”《正义联盟》（上映9天）的风头，登录当日票房榜首，烂番茄新鲜度高达94%，IMDb9.1分。仅相隔两天，《寻梦环游记》在中国上映，截至目前，票房达到5757万，票房占比29.7%，上座率达到26.8%，豆瓣评分达到9.4分，成为皮克斯在中国电影市场评分最高的电影。
  .col-xs-6.col-md-2.infos
     section.books
      .row.book
        img(src="/image/books/li.jpg", alt="")
      .row.book
        img(src="/image/books/fengshang.jpg", alt="")
      .row.book
        img(src="/image/books/wang.jpg", alt="")
