.row.wrapper
  .col-xs-6.col-md-10.article-list
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        time August 29, 2014
        h3 MAMMOTH REEL 2014
        p It’s not too late to release a Reel for 2014 is it? Better late than never! Contains projects from…
    section.row.wrapper.article-item
      .col-xs-6.col-md-4.article-img 
        img(class="segment img",src="/image/timg.jpg", alt="")
      .col-xs-6.col-md-8.article-describe
        time August 29, 2014
        h3 MAMMOTH REEL 2014
        p It’s not too late to release a Reel for 2014 is it? Better late than never! Contains projects from…
  .col-xs-6.col-md-2.infos
     section.books
      .row.book
        img(src="/image/books/li.jpg", alt="")
      .row.book
        img(src="/image/books/fengshang.jpg", alt="")
      .row.book
        img(src="/image/books/wang.jpg", alt="")
      .row.book
        img(src="/image/books/bk.jpg", alt="")
      .row.book
        img(src="/image/books/jac.jpg", alt="")
