.row#logo
  .advator
    img(src="/image/logo.jpg", alt="")
.row
  .tab.ta-button.ta-button-slide-line
    a(href="") 程序
  .tab.ta-button.ta-button-focus
    a(href="") 故事与酒
  .tab.ta-button.ta-button-slip
    a(href="") 书
  .tab.ta-button.ta-button-cross
    a(href="/movie") 电影
  .tab.ta-button.ta-button-shake
    a(href="") 占位
ul.row.about-me
  li
    div.title
      img(src="/image/logo.jpg", alt="")
      span ifredom
  li
    div.title
      img(src="/image/github.jpg", alt="")
      span https://github.com/ifredom
  li
    div.title
      img(src="/image/email.png", alt="")
      span 1950735817@qq.com
  li
    div.time
      span #{moment().format('YYYY-DD-MM H:MM:SS A')}
