<div class="row project-list">
  <div class="col-md-3 project-list-item">
    a(href="/project/0")
      figure
        img(src="/image/login/bg1.jpg", alt="")
        figcaption
          span 时间:2017-01-23
          p 打字机效果
  </div>
  <div class="col-md-3 project-list-item">
    a(href="/project/1")
      figure
        img(src="/image/login/bg2.jpg", alt="")
        figcaption
          span 时间:2017-01-23
          p 感应方向动画
  </div>
  <div class="col-md-3 project-list-item">
    a(href="/project/2")
      figure
        img(src="/image/login/bg3.jpg", alt="")
        figcaption
          span 时间:2017
          p 刮刮卡
  </div>
  <div class="col-md-3 project-list-item">
    a(href="/project/3")
      figure
        img(src="/image/login/bg4.jpg", alt="")
        figcaption
          span 时间:2017
          p 2D跳一跳小游戏
  </div>
  <div class="col-md-3 project-list-item">
    a(href="/project/4")
      figure
        img(src="/image/login/bg4.jpg", alt="")
        figcaption
          span 时间:2018
          p 贪吃蛇
  </div>
  <div class="col-md-3 project-list-item">
    a(href="/project/5")
      figure
        img(src="/image/login/bg3.jpg", alt="")
        figcaption
          span 时间:2018
          p 拼图
  </div>
  <div class="col-md-3 project-list-item">
    a(href="/project/6")
      figure
        img(src="/image/login/bg3.jpg", alt="")
        figcaption
          span 时间:2018
          p 轮播
  </div>
</div>