

<form class="form-inline" role="form">
    <div class="form-group">
        <label for="rank-time">按最新发布时间排序</label>
        <input type="submit" class="form-control" id="rank-time" style="display: none;">
    </div>
    <div class="form-group">
        <label for="rank-views">最多浏览次数排序</label>
        <input type="submit" class="form-control" id="rank-views" style="display: none;">
    </div>
    <div class="form-group">
        <input type="search" class="search form-control" name="search" placeholder="请输入搜索关键字" value=""/>
        <button type="submit" class="am-btn am-btn-default">搜索</button>
    </div>
</form>

table.table.table-striped
    thead
        tr
            th 序列号
            th 标题
            th 发布时间
            th 阅读次数
            th 评论次数
    tbody
        tr
            td 1
            td 死角
            td 2017-03-29
            td 0
            td 0
        tr
            td 2
            td 死角2
            td 2017-03-29
            td 0
            td 0
        tr
            td 3
            td 死角3
            td 2017-03-29
            td 0
            td 0
