extends ../../components/layout

block content
  .container-fluid.page.home
    .row
      nav.col-lg-2.col-md-3.col-sm-3.home-nav
        include ../../components/nav
      section.col-lg-10.col-md-9.col-sm-9.home-content
        include content

